# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.env/

# Editor/IDE
.vscode/
*.sublime-project
*.sublime-workspace

# Logs and Databases
*.log
*.sqlite
*.db

# Dependency directories
bin/
build/
lib/
include/
venv
__pycache__